<div class="product-item" *ngFor="let order of orderList; let i = index">
    <!-- <div class="product-info-left flexbox-column">
          <div class="">{{ product.id }}</div>
        </div> -->
    <div class="product-info-middle">
        <h6 class="">Order ID: {{ order.id }}</h6>
        <div class=""><b>STATUS:</b> {{ order.status }}</div>
        <div class=""><b>SUBMITTED:</b> {{ order.submittedDate | date}}</div>
        <div class=""><b>PROCESSED:</b> {{ order.processedDate | date}}</div>
        <hr>
        <div class=""><b>PRODUCTS:</b> {{ order.productList.length}}</div>
        <hr>
        <div *ngFor="let product of order.productList; let j = index">
            <h6 class="">{{ product.productName }}</h6>
            <div class="">{{ product.info }}</div>
            <div class="">{{ product.category }}</div>
            <div class="">{{ product.type }}</div>
            <hr>
        </div>
    </div>
</div>