<div class="centered-page">
    <div class="centered-content">
        <img class="centered-logo" src="assets/logo.png" alt="">
        <div class="centered-container">
            
            <div class="card">
                <div class="centered-container-header">
                    <h5 class="card-title">404 Not Found!</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">The Requested url was not found on the server.</p>
                    <button (click)="returnTo()" class="btn btn-link">Return</button>
                </div>
            </div>
        </div>
    </div>
</div>