<div class="container">
    <div class="list-container">
      <div class="product-item" *ngFor="let product of productList; let i = index">
          <!-- <div class="product-info-left flexbox-column">
            <div class="">{{ product.id }}</div>
          </div> -->
          <div class="product-info-middle">
            <h6 class="">{{ product.productName }}</h6>
            <div class="">{{ product.info }}</div>
            <div class="">{{ product.category }}</div>
            <div class="">{{ product.type }}</div>
          </div>
          <div class="product-info-right flexbox-column">
            <span class="">{{ product.price | currency:'EUR' }}</span>
            <button class="btn btn-outline-primary" (click)='addToCart(product)'>
              <i class="fa fa-shopping-cart fa-2x"></i>
              <div>Add to Cart</div>
            </button>
          </div>
        </div>
      </div>
  </div>