<app-navigation (searched)="onSearch($event)"></app-navigation>


<div class="container" style="display: flex;flex-direction: row;justify-content: center;">

    <div *ngIf="isHome" style="display: contents">
        <app-product-list [searchTerm]="searchTerm" style="flex: auto;"></app-product-list>
        <app-cart></app-cart>
    </div>

    <app-checkout *ngIf="isCheckout"></app-checkout>

    <app-orders *ngIf="isOrders" style="flex: auto;"></app-orders>

    <app-profile *ngIf="isProfile"></app-profile>

</div>