<div class="generic-page">
    <div class="generic-content">
        <img class="generic-logo" src="assets/logo.png" alt="">
        <div class="generic-container">
            
            <div class="card">
                <div class="generic-container-header">
                    <h5 class="card-title">Sign Up</h5>
                    <span class="card-text">Fill in the inputs bellow to create a new Account</span>
                </div>
                <div class="card-body">
                    <form class="form-group register-form">
                        <div class="form-group">
                            <label for="username">username</label>
                            <input name="username" type="text" class="form-control" id="username"
                                [(ngModel)]="username">
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input name="email" type="email" class="form-control" id="email" [(ngModel)]="email">
                        </div>
                        <div class="form-group">
                            <label for="password">password </label>
                            <input name="password" type="password" class="form-control" id="password"
                                [(ngModel)]="password">
                        </div>
                        <div class="form-group">
                            <label for="firstname">first name</label>
                            <input name="firstname" type="text" class="form-control" id="firstname"
                                [(ngModel)]="firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">last name</label>
                            <input name="lastname" type="text" class="form-control" id="lastname"
                                [(ngModel)]="lastname">
                        </div>
                        <p class="error-msg" *ngIf="registerError">{{ errorMessage }}</p>
                    </form>
                    <button (click)="register()" class="btn btn-dark">Register</button>
                </div>
                <div class="divider"><span>or</span></div>
                <div class="container-footer">
                    <p>Already have an account?
                        <button (click)="login()" class="btn btn-link">Sing-In</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>