<div class="container">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
             <!-- for(Product product: productList)-->
            <tr *ngFor="let product of productList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>
</div>